body {
  margin: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
  transition: all 0.1s ease-in-out;
  width: 150px;
  height: 150px;
  display: block;
  margin: auto;
  border: 2px solid #4cc9f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar:hover {
  transition: all 0.1s ease-in-out;
  transform: scale(1.02);
}

.card {
  width: 400px;
  margin: auto;
  margin-top: 16%;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  background: #3a0ca3;
  color: #f72585;
  border-bottom: 6px solid #7209b7;
  border-left: 6px solid #4361ee;
  box-shadow: -18px 18px 2px #0e0e1b;
}

.text {
  margin: 10px 8px 8px 10px;
}

.instagram {
  transition: all 0.1s ease-in-out;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4cc9f0;
}

.instagram:hover {
  transition: all 0.1s ease-in-out;
  transform: scale(1.02);
}

.instagram-logo {
  width: 20px;
  height: 20px;
  margin: 0 5px;
  color: white;
}

a:visited {
  color: #4cc9f0;
}
